{% extends 'layouts/main.html' %}

{% block content %}

<h3>{{ title }}</h3>

<div class="row">
    <div class="col-md-4 col-xl-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">Profile Details</h5>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title mb-0">{{ person.name }}</h5>
                <div class="text-muted mb-2">{{ person.position }}</div>

                <div>
                    <a class="btn btn-primary btn-sm" href="mailto:{{ person.email }}"><i class="fa fa-envelope"></i> Email</a>
                </div>
            </div>
            <hr class="my-0">
            <div class="card-body">
                <h5 class="h6 card-title">Working Information</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">Division <a href="#">{{ person.division }}</a></li>
                    <li class="mb-1">Department <a href="#">{{ person.department }}</a></li>
                    <li class="mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-briefcase feather-sm me-1">
                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                        </svg> Works at <a href="#">{{ person.company }}</a></li>
                </ul>
            </div>
            <hr class="my-0">
            <div class="card-body">
                <h5 class="h6 card-title">Digital Signature</h5>
                <div class="row text-center mt-2">
                    <div class="col-12">
                        <a href="#">
                            {% if person.ttd is not none %}   
                                <img src="{{ person.ttd }}" width="50%" id="img-sign" />
                            {% else %}
                                <img src="https://cdn-icons-png.flaticon.com/512/3456/3456420.png" width="50%" id="img-sign" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-12">
                        <img src="https://apps.mpm-motor.com/it/mpmqrcode/Home?d={{key}}" width="50%" />
                    </div>
                    <div class="col-12">
                        <input type="hidden" id="userkey" value="{{ person.publickey }}">
                        <a href="#" id="usersession">{{ session["usersession"].id }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-8 col-xl-9">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">
                    <div class="dropdown position-relative">
                        <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="19" cy="12" r="1"></circle>
                                <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <h5 class="card-title mb-0">Activities</h5>
            </div>
            <div class="card-body h-100">

                <div class="d-flex align-items-start">
                    <img src="img/avatars/avatar-5.jpg" width="36" height="36" class="rounded-circle me-2"
                        alt="Ashley Briggs">
                    <div class="flex-grow-1">
                        <small class="float-end">5m ago</small>
                        <strong>Ashley Briggs</strong> started following <strong>Stacie Hall</strong><br>
                        <small class="text-muted">Today 7:51 pm</small><br>

                    </div>
                </div>

                <hr>
                <div class="d-flex align-items-start">
                    <img src="img/avatars/avatar.jpg" width="36" height="36" class="rounded-circle me-2"
                        alt="Chris Wood">
                    <div class="flex-grow-1">
                        <small class="float-end">30m ago</small>
                        <strong>Chris Wood</strong> posted something on <strong>Stacie Hall</strong>'s timeline<br>
                        <small class="text-muted">Today 7:21 pm</small>

                        <div class="border text-sm text-muted p-2 mt-1">
                            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                            amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
                            pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae
                            sapien ut libero venenatis faucibus. Nullam quis ante.
                        </div>

                        <a href="#" class="btn btn-sm btn-danger mt-1"><svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-heart feather-sm">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg> Like</a>
                    </div>
                </div>

                <hr>
                <div class="d-flex align-items-start">
                    <img src="img/avatars/avatar-4.jpg" width="36" height="36" class="rounded-circle me-2"
                        alt="Stacie Hall">
                    <div class="flex-grow-1">
                        <small class="float-end">1h ago</small>
                        <strong>Stacie Hall</strong> posted a new blog<br>

                        <small class="text-muted">Today 6:35 pm</small>
                    </div>
                </div>

                <hr>
                <div class="d-flex align-items-start">
                    <img src="img/avatars/avatar-2.jpg" width="36" height="36" class="rounded-circle me-2"
                        alt="Carl Jenkins">
                    <div class="flex-grow-1">
                        <small class="float-end">3h ago</small>
                        <strong>Carl Jenkins</strong> posted two photos on <strong>Stacie Hall</strong>'s timeline<br>
                        <small class="text-muted">Today 5:12 pm</small>

                        <div class="row g-0 mt-1">
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <img src="img/photos/unsplash-1.jpg" class="img-fluid pe-2" alt="Unsplash">
                            </div>
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <img src="img/photos/unsplash-2.jpg" class="img-fluid pe-2" alt="Unsplash">
                            </div>
                        </div>

                        <a href="#" class="btn btn-sm btn-danger mt-1"><svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-heart feather-sm">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg> Like</a>
                    </div>
                </div>

                <hr>
                <div class="d-flex align-items-start">
                    <img src="img/avatars/avatar-2.jpg" width="36" height="36" class="rounded-circle me-2"
                        alt="Carl Jenkins">
                    <div class="flex-grow-1">
                        <small class="float-end">1d ago</small>
                        <strong>Carl Jenkins</strong> started following <strong>Stacie Hall</strong><br>
                        <small class="text-muted">Yesterday 3:12 pm</small>

                        <div class="d-flex align-items-start mt-1">
                            <a class="pe-3" href="#">
                                <img src="img/avatars/avatar-4.jpg" width="36" height="36" class="rounded-circle me-2"
                                    alt="Stacie Hall">
                            </a>
                            <div class="flex-grow-1">
                                <div class="border text-sm text-muted p-2 mt-1">
                                    Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio
                                    et ante tincidunt tempus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="d-flex align-items-start">
                    <img src="img/avatars/avatar-4.jpg" width="36" height="36" class="rounded-circle me-2"
                        alt="Stacie Hall">
                    <div class="flex-grow-1">
                        <small class="float-end">1d ago</small>
                        <strong>Stacie Hall</strong> posted a new blog<br>
                        <small class="text-muted">Yesterday 2:43 pm</small>
                    </div>
                </div>

                <hr>
                <div class="d-flex align-items-start">
                    <img src="img/avatars/avatar.jpg" width="36" height="36" class="rounded-circle me-2"
                        alt="Chris Wood">
                    <div class="flex-grow-1">
                        <small class="float-end">1d ago</small>
                        <strong>Chris Wood</strong> started following <strong>Stacie Hall</strong><br>
                        <small class="text-muted">Yesterdag 1:51 pm</small>
                    </div>
                </div>

                <hr>
                <div class="d-grid">
                    <a href="#" class="btn btn-primary">Load more</a>
                </div>
            </div>
        </div>
    </div> -->
</div>

{% endblock %}

{% block scriptcustom %}

<script src="{{ url_for('static', filename='js/page/user/profile.js') }}"></script>

{% endblock %}