{% extends "layouts/home.html" %}

{% block content %}

<div class="container mt-2 mb-2">

    <div class="form-signup">
        <div class="card-signup">
            <div class="card-signup-title">
                <h1>Create Account</h1>
                <span>Already have an account? <a href="/user/signin">Sign In</a></span>
            </div>

            <form class="form" action="/user/signup" method="post">
                {{ m.render_field(form.first_name, class='form-control') }}
                {{ m.render_field(form.last_name, class='form-control') }}
                {{ m.render_field(form.phone, class='form-control') }}
                {{ m.render_field(form.email, class='form-control') }}
                {{ m.render_field(form.password, class='form-control') }}
                {{ m.render_field(form.confirm, class='form-control') }}
                {{ form.csrf_token }}
                <button class="btn btn-large btn-block btn-primary form-control mt-3" type="submit">Sign Up</button>
            </form>

        </div>
    </div>

</div>

{% endblock %}